.body {
    display: flex;
    width: 80%;
    margin: auto;
}
.column-post {
    width: 70%;
}

.post-nav-link {
    display: flex;
}

.tag-wrapper {
    width: 250px;
    background-color: #d9d9d9;
    padding: 10px;
    border-radius: 5px;
}

.nItem {
    color: darkgray;
    font-size: 19px;
    padding: 10px;
    border-bottom: solid 2px #ffffff;
}
.nItem:hover {
    color: dimgrey;
    cursor: pointer;
}
.chosenItem{
    color: limegreen;
    border-bottom: solid 2px limegreen;
}

.banner {
    text-align: center;
    background-color: limegreen;
    padding: 30px;
    margin-bottom: 35px;
}

.banner>h1 {
    font-size: 50px;
    font-weight: bolder;
    color: white;
}

.banner>p {
    font-size: 25px;
    font-weight: lighter;
    color: white;
}